/* color palette from <https://github.com/vuejs/theme> */
@import'./textSize.css';

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --w-text-h: rgb(255,255,255);
  --w-text-m: rgba(255,255,255,0.6);
  --w-text-l: rgba(255,255,255,0.3);

  --b-text-h: rgb(0,0,0);
  --b-text-m: rgba(0,0,0,0.6);
  --b-text-l: rgba(0,0,0,0.3);

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --text-h:var(--b-text-h);
  --text-m:var(--b-text-m);
  --text-l:var(--b-text-l);

  --op-bg-h:var(--w-text-h);
  --op-bg-m:var(--w-text-m);
  --op-bg-l:var(--w-text-l);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --text-h:var(--w-text-h);
    --text-m:var(--w-text-m);
    --text-l:var(--w-text-l);

    --op-bg-h:var(--b-text-h);
    --op-bg-m:var(--b-text-m);
    --op-bg-l:var(--b-text-l);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor:pointer;
}

h1,h2,h3,h4,h5,h6, input, textarea{
  color:var(--text-h);
}

p, li{
  color:var(--text-m) ; 
}


@media only screen and (min-width:1200px){
  .nav-logo{
    max-height: 3.0rem !important;
  }
  :root{
    --gap:2.2rem;
    --text-wrap: calc( 2 * ( 2.2rem + 0.8rem));
    --side-icon:calc( 1.8rem + 0.4rem);
    --m-padding:3.0rem;
    --margin:10rem;
    --sizer:4.2rem;
  }
}

@media only screen and (min-width:992px) and (max-width:1199px){
  .nav-logo{
    max-height: 2.8rem !important;
  }
  :root{
    --gap:2.0rem;
    --text-wrap: calc( 2 * ( 2.0rem + 0.8rem));
    --side-icon:calc( 1.6rem + 0.4rem);
    --m-padding:2.8rem;
    --margin:6.4rem;
    --sizer:4.0rem;
  }
}

@media only screen and (min-width:768px) and (max-width:991px){
  .nav-logo{
    max-height: 2.6rem !important;
  }
  :root{
    --gap:1.8rem;
    --text-wrap: calc( 2 * ( 1.8rem + 0.8rem));
    --side-icon:calc( 1.4rem + 0.4rem);
    --m-padding:2.6rem;
    --margin:4.2rem;
    --sizer:3.8rem;
  }
}

@media only screen and (min-width:576px) and (max-width:767px){
  
  .nav-logo{
    max-height: 2.4rem !important;
  }
  :root{
    --gap:1.6rem;
    --text-wrap: calc( 2 * ( 1.6rem + 0.8rem));
    --side-icon:calc( 1.2rem + 0.4rem);
    --m-padding:2.4rem;
    --margin:2.4rem;
    --sizer:3.6rem;
  }
}

@media only screen and (max-width:575px){
  
  .nav-logo{
    max-height: 2.2rem !important;
  }
  :root{
    --gap:1.4rem;
    --text-wrap: calc( 2 * ( 1.4rem + 0.8rem));
    --side-icon:calc( 1.0rem + 0.4rem);
    --m-padding:2.2rem;
    --margin:1.6rem;
    --sizer:3.4rem;
  }
}

a, button{
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track{
  display: none !important;
}